body {
  text-align: center;
  margin-top: 50px;
  background-color: rgb(187, 55, 77);
}

h1 {
  color: white;
  font-size: 40px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 0 auto;
  justify-content: center;

}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.cell.taken {
  pointer-events: none;
}

#status {
  margin: 20px;
  font-size: 1.2rem;
}

#restart {
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 15px;
  border: none;
}

.cell{
  background-color: white; 
}

title{
  font-style:italic;
}
